@{
    ViewBag.Title = "About Us";
}

<h1>About</h1>

   <h2> Our Team Name Is : IRA </h2>
    
    <ul>
        <li>
           Moushumi Deb    
        </li>
        <li>
           Razia Sultana 
        </li>
        <li>
            Monowar Hossain
        </li>
    </ul>
